<div>this is User Component</div>
<div class="row">
  <div class="col">
    <h5 class="text-secondary">User Details</h5>
    <div class="text-secondary">Name <em class="text-dark font-weight-bold"> {{user$.name}} </em></div>
    <div class="text-secondary">Id <em class="text-dark font-weight-bold"> {{user$.id}} </em></div>

    <button class="btn btn-primary" (click)="onLoad()">Loading</button>
    <button class="btn btn-danger" (click)="onUnload()">Unloading</button>
  </div>
</div>
<div class="row" *ngIf="allowEdit; else tmpNotAllowed">
  <div class="col">
    <div class="btn btn-sm btn-primary" (click)="onEditUser(user$.id)">
      Edit
    </div>
  </div>
</div>
<ng-template #tmpNotAllowed>
  <div class="row">
    <div class="col">
      <h5>
        Edit Not Allowed
      </h5>
    </div>
  </div>
</ng-template>
