<h5> Users</h5>

<div class="card-columns">
  <div *ngFor="let user of users$">
    <div class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">
          <span> {{user.name}}</span>
          <span> ({{user.id}})</span>
          Loading : <span class="bg-warning"> {{isLoading$}}</span>
        </h5>
        <p class="card-text">Some quick example text to build.</p>
        <a class="btn btn-sm btn-outline-primary" (click)="goToUserDetails(user.id)">Details</a>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
